SampleTestGeneration/Delegates/bin/
SampleTestGeneration/Delegates/obj/
SampleTestGeneration/Delegates/Delegates.Tests/bin/
SampleTestGeneration/Delegates/Delegates.Tests/obj/
SampleTestGeneration/Delegates/nul
